@import "node_modules/bootstrap/scss/bootstrap.scss"
//colores principales

$background: #827397!important
$background2: #D5ECC2
$secondColor: #E9D5CA!important


.title
    text-align: center
    margin: 20px
    text-decoration: none
    color: white
.title2
    text-align: center
    margin-right: 20px
    position: relative
    text-decoration: none
    color: white
body
    background-color: $background
.container
    width: 100%
    padding-left: 0px
    padding-right: 0px
    display: flex
    justify-content: center
.novetats
    background-color: $secondColor
    margin-top: 10%
    padding-top: 10%

.custom.navbar
    background-color: #98DDCA         


.custom.carousel
    .carousel.indicators
        visibility: hidden
    button
        visibility: hidden
    .carousel-inner
        background: $background
        .item-img
            width: 100%

.custom.card
    background-color: $background
    border: none
    margin-top: 15%
    display: flex
    align-items: center
    .card-img-top
        width: 90%

.custom.jumbotron
    margin-top: 10%
    background-color: $secondColor
    padding-left: 40px
    padding-right: 40px
    margin-bottom: 10%
    .jumbotron-card
        border: 2px $secondColor solid
        background-color: $background
        .card-body
            margin-top 10px
            .card-title
                color: white
                text-decoration: none
            .card-text
                text-decoration: none
                color: black


.novetats
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.artista.jumbotron
    margin-bottom: 10%
    .jumbotron-card
        visibility: hidden
        position: absolute
        top: 200px
        background-image: url('src/artistas/billieE.jpg')
        background-size: cover
        opacity: 70%
        width: 100%
        .card-body
            width: 100%
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            padding: 10%
            .card-img
                width: 40%
                height: 40%
                margin: 20px
                
.topArtistas
    .title
        visibility: visible

.contacto.jumbotron
    text-align: center
    .jumbotron-card
        display: flex
        flex-direction: column
        background: $secondColor
        .card-body
            .form-group
                padding-left: 20%
                padding-right: 20%
.topArtistasMobile
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    margin-bottom: 20px
    .mobile-article
        width: 40%
        .artistaMobile.jumbotron
            width: 100%
            position: relative
            .card-body
                padding: 0%
                margin-top: 10px
                background-color: $secondColor


@media (min-width: 575px)
    .container
        max-width: 540px
    .custom.carousel
        .item-img
            height: 200px

@media (min-width: 768px)
    .container
        max-width: 720px
    .custom.carousel
        .carousel.indicators
            visibility: visible
        button
            visibility: visible
        .item-img
            height: 400px
    .custom.card
        position: absolute
        bottom: 100px
        visibility: hidden
    .jumbotron-section
        width: 45%
        .custom.jumbotron
            width: 100%
            padding-left: 20px
            padding-right: 20px
    .artista.jumbotron
        .jumbotron-card
            visibility: visible
            top: 0px
            position: relative
    .topArtistas
        .title
            visibility: visible
    .artistaMobile.jumbotron
        visibility: hidden
        position: absolute
        top: 0px
@media (min-width: 992px)
    .container
        max-width: 960px
    .custom.carousel
        .item-img
            height: 520px
    .jumbotron-section
        width: 30%
        .custom.jumbotron
            width: 100%
            padding-left: 20px
            padding-right: 20px